/** Forma de acomodar estilos
1.Posicionamiento
2.Modelo caja (box model)
3.Tipografía
4.Visuales(sombras,border,etc)
5.otros/miselanius
*/
:root{
    /* Colores */
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFF;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100vw;
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body{
    font-size: 1.6rem;
    width: 100vw;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    align-self: center;
    width: 150px;
    height: 24px;
    margin-top: 60px;
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 36px;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    color: var(--just-white);
    width: 100%;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}
.header--title-container p{
    margin-top: 25px;
    color: var(--soft-orange);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.header--title-container .header--button{
    position: absolute;
    display: block;
    margin-top: 32px;
    top: 270px;
    width: 170px;
    height: 48px;
    background-color: var(--off-white);
    color: var(--warm-black);
    padding: 15px 48px 15px 16px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    /* sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    /* redondeado */
    border-radius: 4px;
    left: calc(50% - 85px);
}
.header--button span{
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 14px;
    right:20px;
    top: 20.59;
    background-image: url("../assets/icon/mdi_keyboard_arrow_down.svg");
     transform: rotate(90deg); 
     background-size: auto;
     background-position: center;
}


.main-exchange-container{
    display: flex;
    align-items:center ;
    flex-direction: column;
    /* height: 778px; */
    height: auto;
    width: 100vw;
    min-width: 320px;
    background-color: var(--just-white);
}

.section__img-container{
    position: relative;
    top: 59px;
}
.section--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 40px;
}
.section__subtitle{
    /* Width: 288px; */
    /* Height:52px; */
    margin-top: 40px;
    font-weight: 700;
    line-height: 26px;
    font-size: 2.4rem;
    text-align: center;

}
.section__subtitle ~ p {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 18px;
    text-align: center;
    color: #757575;
    margin-bottom: 48px;
}
.main-tables-container{
    position: relative;
}

.main-comision-table{
    margin-top: 0;
}

.main-currency-table,
.main-comision-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
    font-family:"Inter", sans-serif ;
}
.main-currency-table .currency-table--title{
    margin-bottom: 22px;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    line-height: 23px;
    color: var(--bitcoin-orange);
}
.main-comision-table .comision-table--title{
    margin-bottom: 22px;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    line-height: 23px;
    color: var(--secondary-blue);
}

.currency-table--container,.comision-table--container{
width: 90%;
min-width: 230;
max-width: 300px;
/* height: 180px; */
margin: 0 auto;
}
.currency-table--container table,
.comision-table--container table{
    width: 100%;
    height: 101px;
}
.currency-table--container td,
.comision-table--container td{
    width: 50%;
    padding: 10px 12px; 
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
}

.currency-table--container .table__right,
.comision-table--container .table__right{
    padding: 11px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
    font-family: "Inter";
}

.trending-down{
    display: inline-block;
    margin-left: 10.5px;
    width: 11px;
    height: 6px;
    background-image: url("../assets/icon/trending-down.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.trending-up{
    display: inline-block;
    margin-left: 10.5px;
    width: 11px;
    height: 6px;
    background-image: url("../assets/icon/trending-up.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.arrow-right{
    position: absolute;
    right: 0;
    top: calc(35% - 5px);
    width: 20px;
    height: 10px;
    background-image: url("../assets/icon/mdi_keyboard_arrow_down.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.currency-table-date{
    width: 190px;
    height: 31;
    padding: 8px;
    background-color:var(--soft-orange);
    color: var(--warm-black);
    /* margin-top:16px;  */
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 16px auto 0;
    border-radius: 8px;

}
.comision-table-date{
    width: 190px;
    height: 31;
    padding: 8px;
    background-color:var(--soft-blue);
    color: var(--warm-black);
    /* margin-top:16px;  */
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 16px auto 0;
    border-radius: 8px;
}
